.uwu {
    border-style: dotted;
}

.barraCategorias {
    display: none;
    /* La barra está oculta por defecto */
}

.barraSubcategorias {
    display: none;
    /* La barra está oculta por defecto */
}

.barraNavegacion {
    background-color: #1c0c4f;
}

.prueba {
    background-color: #444444;
}